body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Cache les débordements horizontaux */
    color: rgb(131, 94, 125);
}

.logo_nav{
    width: 21%;
    height: auto;
}

.navbar{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
}
/* ----Hero ---- */
#hero {
    background: linear-gradient(to right, #eedae8, #cea7be);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    min-height: 88vh;
    padding-top: 200px;
}

#hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5rem;
}

#hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#hero span {
    color: rgb(131, 94, 125);
}

.cta a:hover {
    background: rgba(211, 194, 208, 1);
}

.cta i {
    font-size: 3rem;
    color: #ffffff;
}

.cta i:hover{
    color: #835e7d;
}

.reseaux {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.scroll-link{
    padding-top: 150px;
    color: #835e7d;
}

.scroll-link-about{
    margin-top: -6.50%;
    color: #835e7d;
}

.scroll-link-skills{
    margin-top: -4%;
    color: #835e7d;
}

.scroll-link-projets{
    margin-top: -14%;
    color: #835e7d;
}

.svg-curve {
    width: 100%;
    height: auto;
    display: block; 
}

/* ---- About ----  */

.about ul{
    list-style-type:circle ;
}

.about img{
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.about .col:nth-child(2){
    display: flex;
    justify-content: center;

}

.progress-bar {
    background-color: #e9b7ce;
}


/*----  Skills ---- */
#skills {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
}


.box_skills{
    background-color: rgb(131, 94, 125, 0.8);
    color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills  .container  .row:nth-child(2),
.skills  .container  .row:nth-child(3) {
    display: flex;
    justify-content: space-evenly;}

/* ---- Projet ---- */
.card{
    min-width: 400px;
    min-height: 340px;
    transition: transform 0.5s ease-in-out;
}

.card a{
    text-decoration: none;
    color: #212529;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(157, 78, 221, 0.2);
}


/* .btn{
    background:#cea7be;
    color: #ffffff;
}

.btn:hover{
    background: rgb(131, 94, 125);
    color: #ffffff;
} */

.wordpress{
    background-color: #127baa;
    color: #ffffff;

}

.notion{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000 ;
}

.prochainement {
    background-color: #e4dcae;
    color: #7f8058;
}

/* ---- Footer ---- */
footer .bi{
    color: #ffffff;
}

footer .bi:hover{
    color: rgb(131, 94, 125);
}

footer{
    background: linear-gradient(to right, #eedae8, #cea7be);
}

footer .logo_footer{
    width: 30%;
    justify-content: end;
}

footer p{
    color: #ffffff;
}


@media (max-width: 480px) {
    /* HERO */
    #hero{
        max-height: 90vh;
        padding-top: 100px;
    }

    #hero h1 {
        font-size: 2rem;
    }
    #hero p {
        font-size: 1.2rem;
    }
    #hero .scroll-link{
        display: none;
    }

    /* ABOUT */

    #about{
        padding: 60px;
    }

    #about .scroll-link-about{
        display: none;
    }

    /* SKILLS */
    #skills{
        box-shadow: none;
    }

    /* PROJETS */
    #projets{
        padding-bottom: 50px;
    }

    /* FOOTER */
    footer {
        text-align: center;
    }
    footer p{
        margin-bottom: 20px;
    }
}